<section class="fruit-detail">
  <div class="fruit-detail-container" *ngIf="fruit">
    <h2>{{ fruit.name }}</h2>
    <div class="image-container">
      <img [src]="fruit.image" [alt]="fruit.name">
      <ul class="nutrition-values">
        <li>Calories: <span>{{ fruit.calories }} kcal</span></li>
        <li>Sugars: <span>{{ fruit.sugars }} g</span></li>
        <li>Carbohydrates: <span>{{ fruit.carbohydrates }} g</span></li>
        <li>Fats: <span>{{ fruit.fats }} g</span></li>
        <li>Proteins: <span>{{ fruit.proteins }} g</span></li>
      </ul>
    </div>
    <p>{{ fruit.description }}</p>
    <button class="back-btn" routerLink="/home">Back</button>
  </div>
</section>